/*.candidate {
  position: relative;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;
  height: 700px;
}

.row.title h1::after {
  content: '';
    display: block;
    width: 100px;
    height: 4px;
    background: #fbed20;
    position: absolute;
    bottom: -7px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #dca9a9;
    margin-top: 10px;
}

.container-atas {
  width: 90%;
  height: 100%;
  margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.title {
  font-size: 30px;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.candidate .description {
  font-size: 24px;
  margin: 0px;
}

.candidate .custom-thumbnail {
  margin-top: 20px;
  margin-bottom: 20px;

}

.candidate .load-more {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper.style1 {
  border-bottom: 1px solid rgba(144, 144, 144, 0.25);
  border-top: 1px solid rgba(144, 144, 144, 0.25);
  background-color: #eff5f5;
}*/

.center-p {
  text-align: center;
}
