body, html {
  width: 100%;
  height: 100%;

}

.container {
  width: 100%;
  height: 100%;
}

.leftpane {
    width: 33%;
    height: 100%;
    float: left;
    background-color: #eff5f5;
    border-collapse: collapse;
}

.middlepane {
    width: 34%;
    height: 100%;
    float: left;
    background-color: #eff5f5;
    border-collapse: collapse;
}

.rightpane {
  width: 33%;
  height: 100%;
  position: relative;
  float: right;
  background-color: #eff5f5;
  border-collapse: collapse;
}

h1 {
  padding-top: 5px;
}

p {
  margin-top: -10px;
  font-size: 15px;
}
