.thumbnail-box {
  padding: 10px;
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
}

.container-img {
  display: block;
  margin: 0 auto;
  width:100%;
  min-height: 30px;
  background-color: #ff1022;
}

.img {
  margin: auto;
  max-width: 100%;
}


h1, h2, h3, p {
  position: relative;
  text-align: center;
}
