.container-media {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  text-align: left;
}

.news-title {
  padding-top: 20px;
  padding-bottom: 0px;
}

.news-url {
  color: green;
}

.news-content {

}

.bold {
  font-weight: bold;
}

.news-date {
  font-weight: bold;
}

.news-sentiment {
  font-style: italic;
}
