.card {
  position: relative;
  padding: 15px;
  height: 350px;
  background-color: #ffffff;
  border: 1px;
  border-radius: 5px;
}

.candidate-card-title {
  text-decoration: none !important;
  position: relative;
  text-align: left;
  color: #002E36;
  margin: 0px;
}

.candidate-card-divider {
  width: 210px;
  height: 5px;
  background: #82D8E3;
  margin-bottom: 10px;
  margin-top: 5px;
}

.candidate-card-image-link {
  transition: .5s ease;
  backface-visibility: hidden;
}

.candidate-card-image-link:hover .candidate-card-image {
  opacity: 0.3;
}

.candidate-card-image-link:hover .detail-btn{
  opacity: 1;
  top:48%;
}

.candidate-card-image {
  object-fit: cover;
  width: 100%;
  height: 200px;
  min-height: 200px;
  max-height: 300px;
  margin-bottom: 5px;
}

.candidate-card-counter {
  height: 80px;
  margin-top: -5px;
  margin-left: -15px;
  margin-right: -15px;
}



h1, h2, h3, p {
  position: relative;
}
