.container-media {
  text-align: left;
  margin-left: 10px;
}

.news-title {
  padding-top: 20px;
  padding-bottom: 0px;
}

.news-url {
  color: green;
}

.bold {
  font-weight: bold;
}

.news-date {
  font-weight: bold;
}

.news-sentiment {
  font-style: italic;
}

.article-list {
  text-align: left;
}

.ui.items>.item .extra {
  color: rgba(0,0,0,1);
}
