.container {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.candidate-name {
  text-align: center
}

.img-card {
  padding-top: 70px;
}

.chart {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

h1 {
  font-weight: bold;
}
