.horizontal-bar-chart {
	text-transform: uppercase;
}

.tick text {
	font-size: 2em;
}

.title-text {
	font-size: 1em;
}

.tooltip {
	display: none;
	padding: 10px;
	background-color: #6C7A89;
	color: #fff;
	border-radius: 5px;
	font-size: 1.1em;
	opacity: 0;

	/*transition-duration: .2s;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);*/
}

.tooltip.visible {
	display: block;
	opacity: 0.8;

	/*transition-duration: .2s;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);*/
}
