.container {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  padding-top: 20px;
}

.candidate-card-image {
  object-fit: cover;
  width: 100%;
  height: 300px;
  min-height: 200px;
  max-height: 300px;
  margin-bottom: 5px;
}

.social-media-icon {
  width: 40px;
  height: 40px;
  margin: 10px;
}
