.media {
  position: relative;
  text-align: center;

  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0px;
}

.title {
  font-size: 30px;
  padding-top: 20px;
  text-align: center;
}

.media .description {
  font-size: 24px;
  margin: 0px;
}

.media .custom-thumbnail {
  margin-top: 20px;
  margin-bottom: 20px;
}

.media .load-more {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper.style2 {
  background-color: #eff5f5;
}
