.video-section {
  position: relative;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;

}

.title {
  font-size: 30px;
  padding-top: 20px;
  text-align: center;
}

.video .description {
  font-size: 24px;
  margin: 0px;
  text-align: center;
}

.video-thumbnail {
  padding: 50px;
}

.wrapper.style3 {
  border-bottom: 1px solid rgba(144, 144, 144, 0.25);
  background-color: #eff5f5;
}

.container-video {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.embed-responsive {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ui.embed>.placeholder {
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}

@media (max-width: 500px) .container-video {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 568px) .container-video {
  margin-left: 40px;
  margin-right: 40px;
  max-width: 100%;
}

@media (max-width: 768px) .container-video {
  margin-left: 40px;
  margin-right: 40px;
  max-width: 100%;
}

@media (max-width: 992px) .container-video {
  max-width: 940px;
}

@media (max-width: 1200) .container-video {
  max-width: 1140px;
}

@media (min-width: 544px) .container-video {
  max-width: 576px;
}

@media (max-width: 380px) .container-video {
  margin: 0;
}
